---
import HeroSection from '../components/HeroSection.jsx';
import FeaturesSection from '../components/FeaturesSection.jsx';
import StudiosSection from '../components/StudiosSection.jsx';
import CallToAction from '../components/CallToAction.jsx';
import '../styles/global.css';
---

<main>
    <HeroSection client:visible />
    <FeaturesSection client:visible />
    <StudiosSection client:visible />
    <CallToAction client:visible />
</main>

